.title{
    font-size: 2.6rem;
   
    align-content: center;
    text-align: center;
color: rgb(180, 8, 79);
}
.clink{
font-size: 1.5rem;
margin-left: 15px;

}
.contacttitle{
    font-size: 2rem;
   
}
.address{
    font-size: 2rem;

}